.div{
    background-color: rgb(231, 5, 5);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;

}

.div2{
    background-color: rgb(231, 5, 5);
    text-align: center;

}